{% load custom_filters %}

    <article class="invoice page-break-after">

            <header>

                <div class="invoice-address">
                    <p>
                        {% if page == "list" %}
                            <a href="{% url invoice-detail invoice.id %}">
                        {% endif %}
                            Order #{{ invoice }}<br>
                            {{ invoice.packing.order.billing_name|title }}<br>
                            {{ invoice.packing.order.billing_address|title }}
                        {% if page == "list" %}
                            </a>
                        {% endif %}
                    </p>
                </div>

                <div class="logo">
                    {% if invoice.logo %}
                    <img src="{{ invoice.logo }}" />
                    <p>Delivering a healthy future.</p>
                    {% endif %}
                </div>

            </header>

            <div class="invoice-info">

                <h2>Tax Invoice</h2>
                <p>
                    {{ invoice.signed_off_at|date:'l, dS F Y' }}</br>
                    ABN: 151 461 273
                </p>

            </div>

            <div class="invoice-table">
                <table cellspacing="0" cellpadding="0" class="table main-table">

                    <tr class="invoice-table-header">
                          <thead>
                            <td width="30%">Product</td>
                            <td class="quantity"  width="5%">Qty</td>
                            {% comment %}<td class="right" width="15%">Order Weight</td>{% endcomment %}
                            {% comment %}<td class="right" width="10%">$ per kg</td>{% endcomment %}
                            <td class="right" width="10%">Unit Price</td>
                            <td width="30%">Notes</td>
                            <td class="right" width="10%">Cost</td>
                        </thead>
                    </tr>


                {% for invoice_item in invoice.invoiceitem_set.all %}

                    <tr>
                        <td>{{ invoice_item.packing_item.order_item.short_name|default:"&nbsp;" }}</td>
                        <td class="quantity">{{ invoice_item.invoice_quantity|default:"&nbsp;" }}</td>
                        {% comment %}<td class="right">{{ invoice_item.invoice_weight|default:"&nbsp;" }}</td>{% endcomment %}
                        {% comment %}<td class="right">{{ invoice_item.invoice_weight_price|currency_filter:1|default:"&nbsp;" }}</td>{% endcomment %}
                        <td class="right">{{ invoice_item.invoice_unit_price|currency_filter:1|default:"&nbsp;" }}</td>
                        <td>
                            {% if invoice_item.notes %}{{ invoice_item.notes }}{% endif %}
                            <em>{% if invoice_item.packing_item.notes %}{{ invoice_item.packing_item.notes }}{% endif %}</em>
                        </td>
                        <td class="right">{{ invoice_item.invoice_item_cost|currency_filter:1|default:"&nbsp;" }}</td>
                    </tr>


                {% endfor %}

                </table>

                <table cellspacing="0" cellpadding="0" class="totals">

                    {% if invoice.packing.order.discountcode_set.all %}
                    <tr>
                        <th valign="top">Discounts:</th>
                        <td>
                            {% for discount_code in invoice.packing.order.discountcode_set.all %}
                                <span style="font-size: 12px;">({{ discount_code.code }}): {{ discount_code.amount|currency_filter:1 }}</span><br/>
                            {% endfor %}
                            <hr/>
                            <span style="font-size: 12px; font-weight:bold;">Total: {{ invoice.packing.order.total_discounts|currency_filter:1 }}</span>
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <th>Subtotal:</th><td>{{ invoice.subtotal_price|currency_filter:1|default:"&nbsp;" }}</td>
                    </tr>
                    <tr>
                        <th valign="top">Shipping:</th>
                        <td>
                            {% for shipping_line in invoice.packing.order.shippingline_set.all %}
                                <span style="font-size: 12px;">({{ shipping_line.title }}): {{ shipping_line.price|currency_filter:1 }}</span><br/>
                            {% endfor %}
                        </td>
                    </tr>

                    {% for tax_line in invoice.packing.order.taxline_set.all %}

                        <tr>
                            <th>{{ tax_line.title }}:</th><td>{{ tax_line.price|currency_filter:1 }}</td>
                        </tr>

                    {% endfor %}

                    <tr class="total-border">
                        <th>Total:</th><td><strong>{{ invoice.total_price|currency_filter:1 }}</strong></td>
                    </tr>
                </table>
            </div>

            <footer>
                {% if invoice.notes %}<p>{{ invoice.notes }}</p>{% endif %}
                {% if invoice.packing.order.shop.invoices_blurb %}<p>{{ invoice.packing.order.shop.invoices_blurb }}</p>{% endif %}
            </footer>

    </article>