{% extends "base.html" %}

{% block headercss %}

{% comment %} Move this to a style sheet! {% endcomment %}
<style>
    body {
        margin-top: 20px;
    }

	.invoices {
        width: 80%;
        margin-left:auto;
        margin-right:auto;

    }
    .totals {
        margin-left: auto;
        margin-bottom: 20px;
    }
    .totals th {
        font-weight:normal;
    }
    .totals th, td {
        padding: 4px 5px;
        line-height: 18px;
        text-align: right;
    }
    .totals td {
        padding-left: 100px;
    }
    thead td {
        background-color: #ccc;
    }
	small {
		float: right;
		font-size: 8px;
	}    
    @media print {
        table {
            page-break-after:always
        }
    }
    h2 {
        padding: 10px;
    }
    hr {
        color: #ccc;
        background-color: #ccc;
        margin: 1px;
        height: 3px;
        width: 100%;
    }

    .quantity {
        text-align: center !important;
    }
    .rightalign {
        text-align: right !important;
    }

</style>
{% endblock headercss %}