{% extends "fulfilment/base.html" %}
{% load custom_filters %}

{% block content %}

<section class="packings">
    
    <header>
        <h1>Packings</h1>
    </header>

    {% for packing in object_list %}
    
        <header>
            <h2><a href="{% url packing-detail packing.id %}">#{{ packing }} - {{ packing.order.billing_name }} - {{ packing.order.billing_address }}</a></h2>
        </header>
        
        {% include "fulfilment/includes/_packing_item.html" %}
        
    {% endfor %}
    
</section>
    
{% endblock %}
