/* @override http://localhost:8000/site_media/static/css/invoices/invoice.css */

body {
    margin-top: 20px;
}

a          { color:#444; text-decoration:none; }
a:visited, a:hover, a:focus, a:active { color:#444; }


 /* ----------------------------------------- */

.invoice {
    width: 750px;
    margin-bottom: 100px;
    padding: 30px 30px 30px 30px;
    margin-left:auto;
    margin-right:auto;
    min-width: 750px;
}

.invoice header {
    position: relative;
    min-width: 750px;
    height: 50px;
}

.invoice header .invoice-address {
	float: left;
}

.invoice header .logo {
	float: right;
	margin-top: -30px;
	text-align: right;
}

.invoice .total-border {
    border-top: 1px solid #B6C9A3;
}

.invoice .invoice-info {
    position: relative;
    margin: 50px 0px 10px 0px;

}


.invoice .invoice-info h1 {
    padding-left: 10px;
    font-size: 4.4em;
    letter-spacing: 2px;
    color: #777;
}

.invoice .invoice-table {
    margin-left: auto;
    margin-right: auto;
}

/* Table styling */

.invoice-table .main-table td {
    border: 1px solid #AAA;
    padding: 2px 3px;
}

.invoice-table .main-table thead td {
    background-color: #CCC;
    font-weight: bold;
}


.invoice-table .main-table td {
    font-size: 0.8em;
}

.invoice-table .right {
    text-align: right !important;
}

.invoice-table .quantity {
    text-align: center !important;
}

/* ----------------------------------------- */
/* Works differently in diff. browsers       */
/* For printing invoices.                    */
/* ----------------------------------------- */

.invoice-table .main-table {
    page-break-inside: auto;
}

.invoice-table .main-table tr, td {
    page-break-inside: avoid;
    page-break-after: auto;
}

.invoice-table .main-table thead {
    display: table-header-group;
}


@media print {

    .page-break-after {
        page-break-after:always
    }
}

/* ----------------------------------------- */

.totals {
    margin-left: auto;
}
.totals th {
    font-weight:normal;
}
.totals th, td {
    padding: 4px 5px;
    line-height: 18px;
    text-align: right;
}
.totals td {
    padding-left: 100px;
}

small {
	float: right;
	font-size: 8px;
}    

}
hr {
    color: #B6C9A3;
    background-color: #B6C9A3;
    margin: 1px;
    height: 3px;

}

